<!DOCTYPE html>
<html>
<head>
    <title>Your Blog Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Your site-wide header would go here -->
    <header>
        <nav>
            <!-- Navigation links -->
        </nav>
    </header>

    <!-- This is where the content for each specific page will be injected -->
    {{{body}}}

    <!-- Your site-wide footer would go here -->
    <footer>
        <!-- Footer content -->
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
